* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
h1, h2, h3, h4, h5, h6  {
font-family: "Segoe UI", Arial, sans-serif;
}
body {
	font-family: "Lato", sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding-top: 46px;
}
#header {
	position: fixed;
    background-color: black;
    width: 100%;
    top: 0;
}
#show-mob {
	display: none;
}
.container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.clearfix::after {
	content: '';
	clear: both;
	display: table;
}
.bar > ul {
	float: left;
	width: 80%;
}
.bar > ul > li {
	width: auto;
	float: left;
	padding: 12px 1.7%;
	color: white;
	font-size: 15px;
	cursor: pointer;
}
.right-float {
	color: white;
	padding: 17px 25px;
}
.right-float > .fa-solid {
	float: right;
	cursor: pointer;
}
.more {
	position: relative;
}
.more:hover .sub-menu {
	display: block;
}
.more i {
	transition: .4s;
}
.more:hover i {
	transform: rotate(180deg);
}
.sub-menu {
    display: none;
	position: absolute;
    float: none;
    top: 47px;
	left: 0px;
}
.sub-menu > div {
	padding: 5px 45px;
    background: white;
    color: black;
    float: none;
    cursor: pointer;
    transition: 0.4s;
}
.sub-menu > div:hover {
	background-color: #eee;
}

img {
	width: 100%;
	display: block;
}
.contens-1 > .ct-1-a, .ct-1-b {
	position: absolute;
    transform: translate(-50%,-280%);
    left: 50%;
	color: white !important;
}
.contens-1 > h3 {
	padding: 0.3%;
}
.content1 {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 64px 16px;
}
.sidecontent1 {
	text-align: center;
	color: gray;
}
.sidecontent2 {
	text-align: center;
	color: gray;
	font-weight: 600;
}
.content2 {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 100px;
}
.content2-name {
	float: left;
	width: 33.3333%;
}
.content2-name > ul {
	float: left;
	width: 100%;
}
.content2-name > ul > li {
	margin: 4% 33.3%;
}
.content2-name > ul > img {
	width: 60%;
	border-radius: 4px;
	display: inline-block;
}
.content3 {
	background-color: black;
	display: table;
	table-layout: fixed;
    width: 100%;
}
.content3-padding {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 18px;
	height: 870px;
}
.content3-title {
	color: white;
	text-align: center;
	padding-top: 70px;
}
.content3-box {
	background-color: white;
	height: 118px;
	margin: 0 auto;
	color: gray;
}
.content3-box > .ctb1 {
	border-bottom: 1px solid #ddd;
	padding: 8px 16px;
}
.ctb1 > span {
	padding: 2px 5px 2px 5px;
	margin-left: 15px;
	color: white;
	background-color: #f44336;
}
.ctb1 > span.b  {
	padding: 0px 8px 0px 8px;
	margin-right: 20px;
	color: white;
	float: right;
	background-color: black;
	border-radius: 100%;
}
.content3-a {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 50px;
}
.ct3-b {
	float: left;
	width: 32%;
	margin-top: 35px;
	margin-right: 1.8125%
}
.ct3-b:last-child {
	margin-right: 0;
}
.ct3-b-text {
	padding: 15px;
	margin-top: -28px;
	background-color: white;
	text-align: left;
	margin-bottom: 20px;
}
.ct3-b-text > b {
	color: black;
}
.ct3-b-text > span {
	background-color: black;
	color: white;
	padding: 10px 17px 10px 17px;
}
.content4 {
	margin-bottom: 100px;
	display: table;
    width: 100%;
}
.ct4-a {
	text-align: center;
	margin-top: 60px;
}
.ct4-b {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
}
.ct4-b-1 {
	float: left;
	width: 49.999%;
    height: 83px;
	display: table;
}
.ct4-b-2 > i {
	float: left;
    font-size: 18px;
	margin-top: -10px;
    margin-right: 20px;
}
.ct4-b-2:first-child > i {
	margin-right: 25px;
}
.ct4-b-2 > p {
    font-size: 18px;
	line-height: 0;
	margin: 0;
}
.ct4-c-1 {
	width: 49.999%;
	float: right;
}
.ct4-c-2 {
	height: 47px;
}
.ct4-c-2-1 {
	width: 48%;
	padding: 10px 8px;
	border: 1px solid #ccc;
	font-size: 14.5px;
}
.ct4-c-2-2 {
	width: 48%;
	padding: 10px 8px;
	border: 1px solid #ccc;
	font-size: 14.5px;
    float: right;
}
.ct4-c-2-3 {
	padding: 10px 8px;
	border: 1px solid #ccc;
	font-size: 14.5px;
	width: 100%;
}
.ct4-c-3 {
	float: right;
	background-color: black;
	color: white;
    padding: 8px 16px;
    margin-top: 15px;
}
.content5 > img {
	filter: grayscale(50%);
	display: block;
}
#footer {
	padding: 50px;
	opacity: 0.6;
	background-color: #f1f1f1;

}
.ft-a {
	font-size: 24px;
	text-align: center;
}
.ft-b > p {
	text-align: center;
}
h2 {
	letter-spacing: 4px;
	font-size: 30px;
	margin: 10px 0;
	font-weight: 400;
}
h3 {
	color: black;
	font-size: 24px;
	margin: 10px 0;
	font-weight: 400;
}
b {
	color: black;
}
p {
	margin: 18px 0;
	text-align: justify;
}
.gray {
	color: gray;
}

.pc {
	display: block;
}
.mobile {
	display: none;
}

@media screen and (max-width: 800px) {
	.pc {
		display: none;
	}
	.mobile {
		display: block;
	}
	.bar {
		color: white;
	}
	.top-nav {
		height: 47px;
	}
	.top-nav > div:last-child:hover {
		background-color: transparent;
	}
	.top-nav-pos {
		z-index: 3;
	}
	label[for=show-mob] {
		display: block;
		width: 35px;
		height: 23px;
		right: 16px;
		top: -9px;
		position: relative;
		padding: 0 !important;
		float: right;
	}
	.bugger {
		width: 28px;
		height: 18px;
		right: 6px;
		top: 1px;
		padding: 0 !important;
		float: right;
		color: white;
		cursor: pointer;
		position: relative;
	}
	.bugger > div {
		width: 100%;
		height: 2px;
		background-color: white;
		margin-bottom: 5px;
	}
	#show-mob:checked + div.mob-sub-list {
		display: block;
	}
	.mob-sub-list {
		display: none;
	}
	.mob-sub-list > div {
		text-align: center;
		padding: 13px;
		border-top: 1px solid #eee;
		color: white;
	}
	.mob-sub-list > div:last-child {
		border-bottom: 1px solid #eee;
	}
	.content1 {
		width: 90%;
	}
	.content4 {
		padding: 5%;
	}
	.content2-name {
		float: none;
		width: 100%;
	}
}