* {
	margin: 0;
	padding: 0;
}
body {
	margin: 10px;
}
h2 {
	padding-bottom: 20px;
	text-align: center;
}
.gmother {
	text-align: justify;
	padding: 20px;
	background-color: #f5f3eb;
	column-count: 3;
	column-gap: 30px;
	column-rule: 2px dashed chocolate;
}
.gmother h2 {
	column-span: all;
}