* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
.container {
	width: 1024px;
	margin: 0 auto;
}
.full-container {
	width: 98%;
	margin: 0 auto;
}
.row::after {
	content: '';
	clear: both;
	display: table;
}
.nodisplay {
	display: none;
}
div[class*=col-] {
	float: left;
	margin-right: 1.953125%;
}
div[class*=col-]:last-child {
	margin-right: 0;
}
div.col-1 {
	width: 6.542969%;	
}
div.col-2 {
	width: 15.03906%;	
}
div.col-3 {
	width: 23.53516%;	
}
div.col-4 {
	width: 32.03125%;	
}
div.col-5 {
	width: 40.52734%;
}
div.col-6 {
	width: 49.02344%;	
}
div.col-7 {
	width: 57.51953%;	
}
div.col-8 {
	width: 66.01563%;	
}
div.col-9 {
	width: 74.51172%;	
}
div.col-10 {
	width: 83.00781%;	
}
div.col-11 {
	width: 91.50391%;	
}
div.col-12 {
	width: 100%;	
}

.header {
	margin-bottom: 10px;
}
.title {
	height: 75px;
	color: white;
	background-color: orange;
	font-weight: bolder;
	line-height: 75px;
	/*font-size: 52px;*/
	padding-left: 15px;
}

.lnb ul > li {
	line-height: 25px;
	background-color: lightgreen;
	margin-bottom: 10px;
	padding: 5px;
}
.sidemenu {
	background-color: lightgreen;
	padding: 20px;
}
.sidemenu p {
	margin-bottom: 5px;
}
.footer > div {
	background-color: lightgray;
	padding: 5px;
	margin-top: 10px;
}

@media all and (max-width: 1024px) {
	div.col-ms-1 {
		width: 6.542969%;	
	}
	div.col-ms-2 {
		width: 15.03906%;	
	}
	div.col-ms-3 {
		width: 23.53516%;	
	}
	div.col-ms-4 {
		width: 32.03125%;	
	}
	div.col-ms-5 {
		width: 40.52734%;
	}
	div.col-ms-6 {
		width: 49.02344%;	
	}
	div.col-ms-7 {
		width: 57.51953%;	
	}
	div.col-ms-8 {
		width: 66.01563%;	
	}
	div.col-ms-9 {
		width: 74.51172%;	
	}
	div.col-ms-10 {
		width: 83.00781%;	
	}
	div.col-ms-11 {
		width: 91.50391%;	
	}
	div.col-ms-12 {
		width: 100%;	
	}
	div.col-ms-zero {
		margin-right: 0;
	}
	.margin-top-10 {
		margin-top: 10px;
	}
}
@media all and (max-width: 500px) {
	div.col-s-1 {
		width: 6.542969%;	
	}
	div.col-s-2 {
		width: 15.03906%;	
	}
	div.col-s-3 {
		width: 23.53516%;	
	}
	div.col-s-4 {
		width: 32.03125%;	
	}
	div.col-s-5 {
		width: 40.52734%;
	}
	div.col-s-6 {
		width: 49.02344%;	
	}
	div.col-s-7 {
		width: 57.51953%;	
	}
	div.col-s-8 {
		width: 66.01563%;	
	}
	div.col-s-9 {
		width: 74.51172%;	
	}
	div.col-s-10 {
		width: 83.00781%;	
	}
	div.col-s-11 {
		width: 91.50391%;	
	}
	div.col-s-12 {
		width: 100%;	
	}
	.col-s-zero {
		margin-right: 0;
	}
}