@charset "utf-8";

/*include*/
@import url(/wwa9/css/common.css);

#header {
	text-align: center;
	margin-bottom: 45px;
}
#contents {
	overflow: hidden;
	margin-bottom: 45px;	
}
.section {
	float: left;
	margin-right: 45px;
	padding-left: 45px;
}
.section:nth-child(4) {
	padding-left: 20px;
}
.indent90 {
	display: inline-block;
	text-indent: 90px;
}