h4 {
    margin-bottom: 7px;
}
.abox p {
    color: blue;
}
.abox2 > p {
    color: blue;
}
h1 + p {
    color: hotpink;
}
h3.skin ~ p {
    color: darkorange;
}
#s5 + h1, #s5 ~ p {
    border: 1px solid lightblue;
}
h3[class] {
    color: blue;    
}
.logo ~ p[class="icox"] {
    color: red;
}
.logo ~ p[class~="icox"] {
    color: red;
}
.logo ~ p[class|="icox"] {
    color: lightgreen;
}
.logo ~ p[class^="icox"] {
    color: darkgreen;
}
.logo ~ p[class$="icox"] {
    color: lightpink;
}
.logo ~ p[class*="icox"] {
    color: black;
}
a:link {
    color: dodgerblue;
}
a:visited {
    color: darkred;
}
a:hover {
    color: red;
}
a:active {
    color: white;
}
a:focus {
    background-color: yellow;
}
.box p::first-letter {
    font-size: 150%;
}
.box p:first-child::first-line {
    font-style: italic;
    color: darkkhaki;
}
.box p:last-child {
    background-color: palegoldenrod;
}
.box p:nth-child(3) {
    color: red;
}
/*content 속성이 꼭 필요*/
.box p::before {
    content: '';
    font-size: 10px;
    /*content: '♥ ';*/
}
.box p:hover::before {
    content: '♥ ';
}
.box p {
    position: relative;
}
.box p::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background: red;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.4s;
}
.box p:hover::after {
    content: '';
    width: 100%;
}